body {
	margin: 0;
	padding: 0;
}

.content {
	counter-reset: section;
	height: 100vh;
	width: 100vw;

	canvas {
		background-color: black;
	}
}

.github-link {
	bottom: 20px;
	font-family: sans-serif;
	position: absolute;
	right: 20px;

	a {
		color: #F0F8FF;
		text-decoration: none;
	}
}

.debug-output {
	position: absolute;
	top: 100px;
	width: 50%;
	height: 50%;
}

// lil gui
.lil-has-slider .lil-name::before {
	// for the counted items
	counter-increment: section;
	content: counter(section);
	margin-right: 5px;
}

.midi-row-end {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}
